.blog {
    margin-top: 100px;
}
.slideshow-container {
    position: relative;
    background-image: url('../img/blog-img.jpg');
    width: 100%;
    height: 390px;
}
.mySlides {
    display: none;
    text-align: center;
}
.dot-container {
    position: absolute;
    bottom: 130px;
    left: 45%;
    text-align: center;
    padding: 20px;   
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: inherit;;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid #CECBB9;
}
.activeBlog, .dot:hover {
    background-color: #CECBB9;
}
.blog-title {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
.blog-p {
    color: #FEC00F;
    font-size: 14px;
}
.blog-title-p {
    width: 65%;
    position: absolute;
    left: 16%;
    top: 80px;
}
.blog-author {
    color: #fff;
    font-size: 14px;
}
.blog-company {
    color: #B4B2A2;
    font-size: 10px;
}
.blog-author-company-div {
    position: absolute;
    left: 45.5%;
    bottom: 70px;
}