.ourprojects-section {
    background-color: #F2F2F2;
    margin-top: 90px;
}
.ourprojects-div{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}
.ourprojects-img {
    width: 25%;
    height: auto;
}